.block
  %h3 Vote Balance
  .content
    %div
      %h4
        Total Votes:
        %span#total_votes=current_account.initial_votes
    %div
      %h4
        Votes Remaining:  
        %span#user_vote_balance=current_account.vote_balance 
.block
  %h3 Links
  %ul.navigation
    %li=link_to "Request New Feature", "http://docs.google.com/a/vivakinervecenter.com"