.group
  =f.label :date
  =f.error_message_on :date
  =f.text_field :date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :credits
  =f.error_message_on :credits
  =f.text_field :credits, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :feature_id
  =f.error_message_on :feature_id
  =f.text_field :feature_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :account_id
  =f.error_message_on :account_id
  =f.text_field :account_id, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:votes, :index)}';return false", :class => :button