!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Padrino Admin
    =stylesheet_link_tag :base, "themes/warehouse/style"
    =javascript_include_tag "/javascripts/jquery-1.5.1.min.js", "http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js", "/javascripts/scripts.js"
  %body
    #container
      #header
        %h1=link_to "vnc watuwnt", url(:base_index)
        #user-navigation
          %ul.wat-cf
            -#%li=link_to pat(:profile), url(:accounts, :edit, :id => current_account.id)
            %li=link_to pat(:logout), url(:sessions, :destroy), :method => :delete
        #main-navigation
          %ul.wat-cf
            -project_modules.each do |project_module|
              %li{:class => ("active" if request.path_info =~ /^#{project_module.path}/)}
                =link_to project_module.human_name, project_module.path("/admin")
      #wrapper.wat-cf
        .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
        #main
          =yield
          #footer
            .block
              %p
                Copyright &copy;
                =Time.now.year
                VivaKi - Powered by 
                =link_to "Tiger ", "images/tiger-blood-energy-drink.jpg"
                =link_to "Blood", "http://twitter.com/#!/search/%23tigerblood"
        #sidebar=yield_content :sidebar